.validator__container {
  width: 1024px;
  margin: 0 auto;
}

.validator {
  padding: 50px 0;
}

.validator__title {
  margin-bottom: 40px;

  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0 0 10px;
  padding: 0;

  list-style: none;
}

.cards__card {
  width: 39px;
  height: 25px;
}

.cards__card-filter {
  filter: grayscale(1);
}

.cards__card-image {
  width: 100%;
  height: 100%;

  object-fit: contain;
  object-position: center;
}

.form__input-text {
  width: 300px;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #999999;
  border-radius: 5px;

  font-size: 16px;
}

.form__btn {
  height: 39px;
  border: 1px solid #66bf66;
  border-radius: 5px;

  font-size: 16px;

  background: #66bf66;
  color: white;
}